<h1><%= @course.name %> - Par <%= @course.par %></h1>
<% if @course.pic %>
    <%= image_tag @course.pic %>
<% end %>
<h2>Average Rating: <%= @course.average_rating %> (<%= @course.review_count %>)</h2>
<h2>Average Score: <%= @course.average_score %> (<%= @course.score_count %>)</h2>
<h3>Bio: <%= @course.description %></h3>
<hr>
    
<% if @course.reviews.any? %>
    <h2>Golfer Reviews</h2>
    <% @course.reviews.each do |rev| %>
        <h3><%= rev.golfer.name %></h3>
        <p><%= "#{rev.rating} - #{rev.title}" %></p>
        <p>Review: <%= rev.content %></p>
        <hr>
    <% end %>
<% end %>

<h3><%= link_to "Back to Courses", courses_path %></h3>
<h3><%= link_to "Edit Course Info", edit_course_path(@course) %></h3>
<h3><%= link_to "Leave a Review", new_course_review_path(@course) %></h3>

<%= form_tag course_path(@course.id), method: "delete" do %>
    <%= submit_tag "Delete Course" %>
<% end %>